@import 'styles/colors.scss';

.selectOption {
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;

  font-size: 17px;
  list-style-type: none;
  padding: 6px 20px;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: $primary;
    color: white;
  }
}
