.wrapper {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 20vw;
  max-width: 20vw;
  //position: sticky;
  //top: 0;
  //left: 0;
  //height: 100vh;
  //z-index: 999;
  background: white;
  //color: #fff;
  transition: all 0.6s;
}
