.sidebar {
  background-color: var(--white-color);

  box-shadow: var(--space-xxxxs) 0 calc(var(--space-xxxs) * 2)
    var(--shadow-color) !important;

  display: grid;
  grid-auto-rows: min-content;
  grid-gap: var(--sidebar-padding);
  grid-template-columns: 1;
  overflow-y: auto;

  padding: var(--sidebar-padding);
  transition: all 0.6s;

  hr {
    height: 1px;
    margin: 0 calc(-1 * var(--sidebar-padding));
    opacity: 0.15;
  }
}
