@import 'styles/colors.scss';

.button {
  display: block;
  width: 100%;
}

.flexRow {
  display: flex;
  justify-content: space-between;
}

.tempP {
  color: $gray;
  margin-bottom: 0.2rem;
  font-size: 1rem;
}

.buttonDataType {
  max-width: 30%;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:active {
    outline: none;
    box-shadow: none;
  }
}
//.root {
//  flexgrow: 1;
//  width: 100%;
//  //margin-top: 1rem;
//}
//
//.condition {
//  width: 200px;
//}
//
//.paper {
//  margin: 1rem;
//  padding: 0.4rem;
//}
//
//.title {
//  text-align: center;
//  width: 100%;
//}
