.paper {
  background-color: #fff;
  border: 1.52px solid #eee;
  border-radius: 0.25rem;
  box-shadow: 0 var(--space-xxxxs) var(--space-xxxs) rgba(0, 0, 0, 0.075) !important;
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
  width: max-content;
}
