$primary: gray;
$secondary: white;
$white: #000;
$gray: #9b9b9b;
.formGroup {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.formField {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.2rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .formLabel {
    font-size: 1rem;
    cursor: text;
    top: 20px;
  }
}

.formLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.81rem;
  color: $gray;
}

.formField:focus {
  ~ .formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: $primary;
    //font-weight:500;
  }
  padding-bottom: 6px;
  //font-weight: 500;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$primary);
  border-image-slice: 1;
}
/* reset input */
.formField{
  &:required,&:invalid { box-shadow:none; }
}