.paper {
  width: max-content;
  margin: 0.65rem;
  padding: 0.65rem;

  border-radius: var(--border-radius);
  background-color: var(--white-color);
  box-shadow: 0 var(--space-xxxxs) var(--space-xxxs) rgb(0 0 0 / 7.5%) !important;
}
