.text {
  font: bold 10px sans-serif;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.matrixPreview {
  background: #eee;
}

.triggerMatrixBtn {
  width: 100%;
  font-size: 17px;
  margin-top: var(--sidebar-padding);
}

.substrate {
  background: black;
  bottom: 0;
  height: 100%;

  left: 0;
  opacity: 0.75;
  position: fixed;
  right: 0;
  top: 0;

  width: 100%;
  z-index: 1004;
}

.modalWrapper {
  align-items: center;
  // background: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1005;
}

.modalWrapper {
  // align-items: center;
  // background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1005;
  display: grid;
  grid-template-areas: 'matrixPicker editor materialPicker .';
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 2rem;
  place-items: center;
}



.matrixPicker {
  grid-area: matrixPicker;
  min-height: 90vh;
  max-height: 95vh;
  background-color: rgb(255, 255, 255);

  display: grid;
  grid-auto-rows: min-content;
  grid-gap: var(--space-sm);
  grid-template-columns: 1;
  overflow-y: auto;

  padding: var(--space-sm);
  
}

.editor {
  grid-area: editor;
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  // padding: var(--space-md);
  width: max-content;
}

.materialPicker {
  grid-area: materialPicker;
  min-height: 90vh;
  max-height: 95vh;
  max-width: 20wh;
  background-color: rgb(255, 255, 255);

  display: grid;
  grid-auto-rows: min-content;
  grid-gap: var(--space-sm);
  grid-template-columns: 1;
  overflow-y: auto;

  padding: var(--space-sm);
}

.oneMaterialPanel {
  display: grid;
  grid-template-areas: 'material' '.' 'materialNumberInputs';
  // grid-template-columns: 1fr 3fr;

  hr {
    margin-top: 0.75rem;
  }
}

.material {
  grid-area: material;
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
  // margin-top: 0.75rem 0;
}

.materialNumberInputs {
  grid-area: materialNumberInputs;
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
  margin-top: 1.5rem 0;

  
}


.buttons {
  display: flex;
  justify-content: space-evenly;
}
