.text {
  font: bold 10px sans-serif;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.matrixPreview {
  background: #eee;
}

.triggerMatrixBtn {
  width: 100%;
  margin-top: var(--sidebar-padding);
}

.substrate {
  background: black;
  bottom: 0;
  height: 100%;

  left: 0;
  opacity: 0.75;
  position: fixed;
  right: 0;
  top: 0;

  width: 100%;
  z-index: 1004;
}

.modalWrapper {
  align-items: center;
  // background: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1005;
}

.modalWrapper {
  // align-items: center;
  // background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1005;
  display: grid;
  grid-template-areas: 'matrixPicker editor materialPicker';
  grid-template-columns: 2fr 3fr 2fr;
  place-items: center;
}



.matrixPicker {
  grid-area: matrixPicker;
  min-height: 90vh;
  max-height: 95vh;
  background-color: bisque;

  display: grid;
  grid-auto-rows: min-content;
  grid-gap: var(--space-sm);
  grid-template-columns: 1;
  overflow-y: auto;

  padding: var(--space-sm);
  
}

.editor {
  grid-area: editor;
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  // padding: var(--space-md);
  width: max-content;
}

.materialPicker {
  grid-area: materialPicker;
  min-height: 90vh;
  background-color: bisque;
  
}


.buttons {
  display: flex;
  justify-content: space-evenly;
}
