.wrapper {
  width: 100%;

  color: var(--text-secondary-color);

  .label {
    display: block;

    margin-bottom: var(--size-xs);

    transition: 0.2s;
    letter-spacing: calc(0.35 * var(--size-xs));

    color: inherit;

    font-size: var(--text-xs);
  }
}
