.wrapper {
  color: var(--secondary-text-color);
  width: 100%;

  // &:hover,
  // &:focus {
  //   color: var(--primary-color) !important;
  // }

  //   &:focus {
  //     outline: calc(1 * var(--border-width)) solid var(--primary-color);
  //   }

  .label {
    color: inherit;
    display: block;
    font-size: var(--text-sm);
    letter-spacing: var(--space-xxxxs);
    margin-bottom: var(--space-xxxs);
    transition: 0.2s;
  }
}
