@import 'styles/colors';

.all {
  align-self: center;
  justify-self: end;
  a {
    color: $dark;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
  }
}

.sign {
  font-size: 16px;
  padding-left: 5px;
}

.list {
  //   font-size: 14px;
  //   letter-spacing: 1px;
  a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  width: 100%;
}
