.tag {
	border-radius: var(--border-radius);
	box-sizing: border-box;
	display: inline-block;
	margin-right: 5px;
	text-align: center;
}

.s {
	font-size: 12px;
	line-height: 12px;
	padding: 5px 10px;
}

.m {
	font-size: 14px;
	line-height: 14px;
	padding: 5px 10px;
}

.l {
	font-size: 24px;
	line-height: 24px;
	padding: 6px 12px;
}

.ghost {
	border: 1px solid var(--info);
}


.green {
	background: var(--success);
	color: var(--green);

	font-weight: bold;
}

.primary {
	background: var(--primary);
	color: rgb(237, 237, 237)
}
