.formGroup {
  color: var(--secondary-text-color);
  width: 100%;

  &:hover,
  &:focus {
    color: var(--primary-color) !important;
  }

  //   &:focus {
  //     outline: calc(1 * var(--border-width)) solid var(--primary-color);
  //   }

  .label {
    color: inherit;
    display: block;
    font-size: 0.81rem;
    letter-spacing: 1px;
    margin-bottom: var(--space-xxxs);
    transition: 0.2s;
  }
}

.formField {
  /* reset input */
  &:required,
  &:invalid {
    box-shadow: none;
  }
  background: transparent;
  border: var(--border-width) solid var(--gray-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-family: inherit;
  font-size: var(--text-md);

  outline: 0;

  padding: var(--space-xxxs);
  transition: border-color 0.2s;
  width: 100%;
  z-index: 1;

  &:hover {
    border: var(--border-width) solid var(--primary-color);
    transition: 0.5s;
  }

  &:focus {
    outline: calc(1 * var(--border-width)) solid var(--primary-color);
  }

  &::placeholder {
    color: transparent;
    cursor: text;
  }
}
