/* stylelint-disable selector-max-id */
@import './vendors/normalize';
@import './helpers/fonts';
@import './helpers/variables';
@import './helpers/mixins';
@import './helpers/typography';

html,
body,
#__next {
  background-color: $white;
  height: 100%;
}

* {
  font-family: 'Poppins', sans-serif !important;
}

.pushable {
  overflow-x: visible;
}

.ui.right.overlay.sidebar {
  position: fixed;
}


body {
  h1 {
    @include h1;
  }

  h2 {
    @include h2;
  }

  h3 {
    @include h3;
  }

  h4 {
    @include h4;
  }

  p {
    margin: 0;
  }
}

.ui.page.modals {
  background-color: rgba($dark500, 0.7) !important;
}

[role='button'] {
  cursor: pointer;
}

::-webkit-scrollbar {
  height: 4px !important;
  width: 4px !important;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: $grey200 !important;
  border-radius: 4px !important;
}

strong {
  font-weight: 600 !important;
}

small {
  font-size: 10px;
  line-height: 15px;
}

.ui.loader {
  z-index: 10 !important;
}

button {
  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid $primary500;
  }
}

figure {
  margin: 0 !important;
}
