.wrapper {
  display: grid;

  height: 100%;
  min-height: 100%;
  min-height: calc(100vh - (var(--header-up-height) + var(--header-down-height)));

  background-color: var(--substrate-color);
  grid-area: content;
  grid-template-areas: "sidebarLeft contentInner sidebarRight";
  grid-template-columns: 17% auto 17%;
}

.subTitle {
  color: var(--gray-600);
  font-size: 28px;
  font-weight: 600;
}

.title{
  font-weight: 600;
  color: var(--white);
}

@media (max-width: 1200px) {
  .wrapper {
    display: grid;

    min-height: 100%;

    background-color: var(--substrate-color);
    grid-template-areas:
      "contentInner contentInner"
      "sidebarLeft sidebarRight";
    grid-template-columns: 1fr 1fr;
  }
}

.sidebarLeft {
  grid-area: sidebarLeft;
  border-right: 1px solid lightgray;
}

.sidebarRight {
  grid-area: sidebarRight;
  border-left: 1px solid lightgray;
}

.content {
  grid-area: contentInner;

  padding: var(--space-sm);
}

.graph1D {
  display: inline-grid;
  grid-template-rows: auto auto;
}

.graph2D {
  // display: inline-grid;
  // grid-template-columns: auto auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: max-content;
}

.workArea {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;

  padding: 1rem;
}


.divider {
  padding: 0 var(--sidebar-padding);
}