.modalOverlay{
    color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-modal-overlay);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    // animation: ${fadeIn} 0.5s;
    // -moz-animation: ${fadeIn} 0.5s; /* Firefox */
    // -webkit-animation: ${fadeIn} 0.5s; /* Safari and Chrome */
    // -o-animation: ${fadeIn} 0.5s; /* Opera */
}

.modalBoxContainer {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index: var(--z-index-modal);
    height: 95%;
    max-height: 99%;
    width: 96%;
    max-width: 99%;
    // border: 2px solid black;
    border-radius: var(--border-radius);
    background-color: #fff;
    // box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.13);
    // animation: ${fadeIn} 0.5s;
    // -moz-animation: ${fadeIn} 0.5s; /* Firefox */
    // -webkit-animation: ${fadeIn} 0.5s; /* Safari and Chrome */
    // -o-animation: ${fadeIn} 0.5s; /* Opera */
    // TBD: add responsiveness
}

.modalBoxControl{
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 1200;
}

.modalBoxContent{
    // color: #333;
}

