@import '../styles/colors';

.button {
	display: block;
	width: 100%;
}

.flexRow {
	display: flex;
	justify-content: space-between;
}

.tempP {
	color: $gray;
	font-size: 1rem;
	margin-bottom: 0.2rem;
}

.buttonDataType {
	max-width: 30%;
	&:focus {
		box-shadow: none;
		outline: none;
	}
	&:active {
		box-shadow: none;
		outline: none;
	}
}