$border-width: 4px;

@import 'styles/colors.scss';
$border-color: $light;
$background-color: $primary;
//.sections {
//  z-index: 1100;
//  background: $background-color;
//
//  a {
//    color: $border-color;
//    border-bottom: $border-width solid transparent;
//    transition: 0.5s;
//
//    &:hover {
//      border-bottom: $border-width solid $border-color;
//      color: $border-color;
//    }
//
//   .active {
//     border-bottom: $border-width solid $border-color;
//     color: red;
//    }
//  }
//
//
//  li.a.active {
//    border-bottom: $border-width solid $border-color;
//    color: red;
//  }
//
//}

.navbar {
  grid-column: span 12;
  background-color: $background-color;
  place-items: center;
  display: flex;
  align-self: space-between;

  flex-direction: row;
  & > * {
    margin: 0.81rem;
  }
  & > *:nth-child(3) {
    margin-left: auto;
  }
}

.logo {
  font-size: 16pt;
  color: $light;
  font-weight: 600;
  letter-spacing: 0.15rem;
  text-decoration: none;
  text-transform: uppercase;
  &:hover{
    color: $light;
    opacity: 95%;
  }
}

.dropDownTitle {
  font: inherit;
  opacity: 90%;
  z-index: 1000;
  &:hover {
    opacity: 100%;
  }
}

/* Add a black background color to the top navigation */
.topnav {
  // &.link{
  background-color: $background-color;
  overflow: hidden;
  display: flex;
  padding: 0.2rem;
  //box-shadow: 1rem 2rem #7a7e82;
  a {
    transition: all 0.4s ease-in;
    color: $border-color;
    text-align: center;
    padding: 8px 18px;
    text-decoration: none;
    font-size: 18px;
    border-bottom: $border-width solid transparent;

    &.active {
      border-bottom: $border-width solid $border-color;
    }

    &:hover {
      border-bottom: $border-width solid $border-color;
    }
    // }
  }
}
