.wrapper {
  display: grid;
  height: 100vh;
  min-width: 500px;
  max-width: 100vw;
  // grid-template-columns: 1fr;
  grid-template-rows: 56px 33px auto;
  grid-template-areas:
    'headerUp'
    'headerDown'
    'content';
}
