.container {
	color: white;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 50px auto 20px;
	height: 100vh;
}



.aside {
	background-color: burlywood;
	grid-column: span 2;
}

.main {
	grid-column: span 8;
}
.footer {
	background-color: chocolate;
	grid-column: span 12;
}
