.sidebar {
  display: grid;
  overflow-y: auto;

  padding: var(--sidebar-padding);

  transition: all 0.6s;

  background-color: var(--white-color);
  box-shadow:
    var(--size-sm) 0 var(--size-md)
    var(--shadow-color) !important;
  grid-auto-rows: min-content;
  grid-gap: var(--sidebar-padding);
  grid-template-columns: 1;

  hr {
    height: 1px;
    margin: 0 calc(-1 * var(--sidebar-padding));

    opacity: 0.15;
  }
}
