.sidebar {
  background-color: var(--white-color);

  display: flex;
  flex-direction: column;

  grid-area: sidebar2;

  // height: auto;

  // overflow-y: scroll;

  padding: var(--space-sm);

  row-gap: var(--space-sm);

  transition: all 0.6s;
}
