.formGroup {
	margin-top: 12px;
	padding: 15px 0 0;
	position: relative;
	width: 100%;
}



.formField {
	background: transparent;
	// border-bottom: 2px solid $gray;
	// border: 1px solid $gray;
	border: 1px solid var(--gray);
	// border: 0;
	border-radius: 4px;
	color: var(--dark);
	font-family: inherit;
	font-size: 1.2rem;
	outline: 0;
	padding: 8px 8px;
	transition: border-color 0.2s;
	width: 100%;
	z-index: 1;

	&:hover {
		border: 1px solid var(--primary);
		transition: 0.5s;
		~ .formLabel {
			color: var(--primaryFont);
			transition: 0.5s;
		}
	}

	&::placeholder {
		color: transparent;
	}

	&:placeholder-shown ~ .formLabel {
		cursor: text;
		font-size: 1rem;
		right: 40px;
		top: 30px;
	}
}

.formLabel {
	color: var(--gray);
	display: block;
	font-size: 0.81rem;
	letter-spacing: 1px;
	position: absolute;
	top: -8px;
	transition: 0.2s;
}



/* reset input */
.formField {
	&:required,
	&:invalid {
		box-shadow: none;
	}
}
