// https://www.easel.ly/
:root {
  --primary: rgb(62, 106, 227);
  --darken-primary: rgb(52, 91, 197);

  --secondary: #7a7e82;
  --success: #27b567;
  --danger: rgb(238, 106, 126);
  --info: tomato;
  --warning: #f2c231;
  --light: #f5f5f5;
  --dark: #4a4a4a;
  --gray: rgba(175, 173, 173, 0.78);

  --white: #fff;

  --color-text: #4a4a4a;
}

:root {
  --primary-color: rgb(62, 106, 227);
  --darken-primary-color: rgb(52, 91, 197);

  --secondary-color: #7a7e82;
  --success-color: rgb(29, 203, 139);
  --danger-color: tomato;
  --info-color: rgb(147, 147, 212);
  --warning-color: #f2c231;
  --light-color: #f5f5f5;
  --lighten-color: rgb(251, 251, 251);
  --dark-color: #4a4a4a;
  --gray-color: rgba(175, 173, 173, 0.78);

  --white-color: #fff;

  --text-color: #4a4a4a;
  --secondary-text-color: var(--gray-color);
  --shadow-color-header: rgba(19, 85, 226, 0.15);
  --shadow-color: rgba(0, 0, 0, 0.075);
}
