:root {
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
  --text-xs: calc(
    (var(--text-base-size) / var(--text-scale-ratio)) / var(--text-scale-ratio)
  );
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(
    var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
}

// :root {
// 	// Базовый размер шрифта
// 	--text-base-size: 1em;

// 	// Шкала типов
// 	--text-scale-ratio: 1.2;
// 	--text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
// 	--text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
// 	--text-md: calc(
// 		var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
// 	);
// 	--text-lg: calc(var(--text-md) * var(--text-scale-ratio));
// 	--text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
// 	--text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
// 	--text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
// }
