:root {
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --size-unit: 1rem;
  --size-xs: calc(0.25 * var(--size-unit));
  --size-sm: calc(0.75 * var(--size-unit));
  --size-md: calc(1 * var(--size-unit));
  --size-lg: calc(2 * var(--size-unit));
  --size-xl: calc(4 * var(--size-unit));
  --component-padding: var(--size-md);
  --sidebar-padding: var(--size-sm);
  --header-up-height: 3.5rem;
  --header-down-height: 2.2rem;
}

// @media (max-width: var(--md)) {
//   :root {
//     --size-unit: 1.5em; // 👈 [2/2]
//   }
// }

// // Extra small devices (portrait phones, less than 576px)
// // No media query since this is the default in Bootstrap

// // Small devices (landscape phones, 576px and up)
// @media (min-width: var(--sm)) {
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: var(--md)) {
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: var(--lg)) {
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: var(--xl)) {
// }
