@mixin h1 {
  color: var(--text-color);
  font-family: 'Roboto';
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 58px;
  margin: 0;
}

@mixin h2 {
  color: var(--text-color);
  font-family: 'Roboto';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 40px;
  margin: 0;
}

@mixin h3 {
  color: var(--text-color);
  font-family: 'Roboto';
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 36px;
  margin: 0;
}

@mixin h4 {
  color: var(--text-color);
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 32px;
  margin: 0;
}

@mixin h5 {
  color: var(--text-color);
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

@mixin h6 {
  color: var(--text-color);
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}

@mixin h7 {
  color: var(--text-color);
  font-family: 'Roboto';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
}

@mixin caption {
  color: $dark300;
  font-family: 'Roboto';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  margin: 0;
}