@import 'colors';
@import 'fonts';
@import 'vars';
// @import '../../node_modules/bootstrap/scss/bootstrap';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  color: var(--color-text);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: var(--text-base-size);
  scrollbar-width: thin;

  a {
    text-decoration: none;
  }
}

// Add SASS theme customizations here..
// html {
//   font-size: 0.8rem;
// }
// @include media-breakpoint-up(sm) {
//   html {
//     font-size: 0.9rem;
//   }
// }
// @include media-breakpoint-up(md) {
//   html {
//     font-size: 0.9rem;
//   }
// }
// @include media-breakpoint-up(lg) {
//   html {
//     font-size: 1rem;
//   }
// }
