@import "colors/colors";
@import "variables/variables";
@import "fonts";
@import "sizes";

html,
body {
  margin: 0;
  padding: 0;

  color: var(--text-color);

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
