@import 'colors';
@import 'fonts';
@import 'vars';
@import 'sizes';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  color: var(--color-text);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: var(--text-base-size);

  // overflow: hidden;

  a {
    text-decoration: none;
  }

  hr {
    height: 1px;
    margin: 0;
    opacity: 0.25;
  }
}

// Add SASS theme customizations here..
// html {
//   font-size: 0.8rem;
// }
// @include media-breakpoint-up(sm) {
//   html {
//     font-size: 0.9rem;
//   }
// }
// @include media-breakpoint-up(md) {
//   html {
//     font-size: 0.9rem;
//   }
// }
// @include media-breakpoint-up(lg) {
//   html {
//     font-size: 1rem;
//   }
// }


