.wrapper {
    background-color: var(--light-color);
    display: grid;
    grid-area: content;
    grid-template-areas: 'sidebarLeft contentInner sidebarRight';
    grid-template-columns: 17% auto 17%;
    // height: 100%;
    height: calc( 100vh - (var(--header-up-height) + var(--header-down-height)));
    // width: 100vw;
  }
  
  @media (max-width: 1200px) {
    .wrapper {
      background-color: var(--light);
      display: grid;
      grid-template-areas:
      'contentInner contentInner'
        'sidebarLeft sidebarRight';
      grid-template-columns: 1fr 1fr;
      // grid-template-columns: 45% 45%;
      // height: calc( 100vh - (var(--header-up-height) + var(--header-down-height)));
      min-height: 200vh;
      // max-width: 100vw;
    }
  }
  
  .sidebarLeft {
    grid-area: sidebarLeft;
  }
  
  .sidebarRight {
    grid-area: sidebarRight;
  }
  
  .content {
    grid-area: contentInner;
    padding: var(--space-sm);
  }
  
  .graph1D {
    display: inline-grid;
    // grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  .graph2D {
    display: inline-grid;
    grid-template-columns: auto auto;

  }
  
  .workArea {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    // text-transform: uppercase;
  }
  