.wrapper {
    background-color: var(--light-color);
    display: grid;
    grid-area: content;
    grid-template-areas: 'sidebarLeft contentInner sidebarRight';
    grid-template-columns: 17% auto 17%;
    height: 100%;
  }
  
  @media (max-width: 900px) {
    .wrapper {
      background-color: var(--light);
      display: grid;
      grid-template-areas:
        'sidebarLeft sidebarRight'
        'contentInner contentInner';
      grid-template-columns: 1fr 1fr;
      height: 100%;
    }
  }
  
  .sidebarLeft {
    grid-area: sidebarLeft;
  }
  
  .sidebarRight {
    grid-area: sidebarRight;
  }
  
  .content {
    grid-area: contentInner;
    padding: var(--space-sm);
  }
  
  .graph {
    display: inline-grid;
    // grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  
  .workArea {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    // text-transform: uppercase;
  }
  