.container {
  max-width: 98%;
  margin: 0px auto;
  padding: 0px 5px;
}

.header {
  position: fixed;
  width: 100%;
  height: var(--header-up-height);
  top: 0;
  left: 0;
  z-index: 50;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 2;
  }
}

.headerBody {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: var(--header-up-height);
	z-index: 60;
	align-items: center;

  li{
    display: inline;
    list-style-type: none;
    margin: 0px 0px 0 1rem;
  }
	h3 {
		color: white;
		z-index: 5;
		margin: 0;
	}
}

.headerBodyDown {
	position: relative;
	display: flex;
	justify-content: center;
	height: var(--header-down-height);
	z-index: 1;
	align-items: center;
	div,
	h4 {
		color: white;
		z-index: 5;
		margin: 0;
	}
}

.headerDown {
	position: fixed;
	width: 100%;
	top: var(--header-up-height);
	left: 0;
	z-index: 1;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 var(--space-xxxs) var(--space-xxxs) var(--shadow-color-header) !important;
    z-index: 1;
  }
  
}


@media (max-width:767px){
	// body.lock{
	// 	overflow: hidden;
	// }
	.headerBody {
		height: var(--header-up-height);

    li{
      display: block;
      list-style-type: none;
      margin: .5rem 0 0 0;
    }
	}

	.headerBurger {
		
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;

    span{
      position: absolute;
      background-color: var(--text-color);
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      top: 9px;
      transition: all 0.3s ease 0s;
    }

    &:before,
	  &:after{
		content: '';
		background-color: var(--text-color);
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	&:before{
		top: 0;
	}
	&:after{
		bottom: 0;
	}
	}
	
	

	.active{ 
    span{
		  transform: scale(0);
	  }

    &:before{
      transform:rotate(45deg);
      top: 9px;
    }
    &:after{
      transform:rotate(-45deg);
      bottom: 9px;
    }
}

	

	.headerMenu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color: var(--substrate-color);
		padding: 4rem 0 0 2rem;

	}

	.headerMenuActive{
    top: 0;
  }

	.headerList {
		display: block;
	}
}



.activeLabContentType {
  border-bottom: 3px solid var(--danger-color) !important;
  color: var(--text-color);
}

.labContentType {
  color: var(--text-color);
  padding: 0.1rem 0;

  &:hover {
    color: var(--text-color);
    border-bottom: 3px solid var(--danger-color);
  }
}

.logo {
  align-self: center;
  color: var(--text-color);
  font-size: var(--text-lg);
  font-weight: bold;
  letter-spacing: var(--space-xxxxs);

  text-decoration: none;
  text-transform: uppercase;
  z-index: 500;
  &:hover {
    color: var(--danger-color);
  }
}
