// .container {
//   display: grid;
//   // grid-template-rows: 4rem 3rem;
//   max-height: 7rem;
// }

.headerUp {
  display: grid;
  grid-area: headerUp;
  grid-template-areas: 'logo labContentType right';
  grid-template-columns: 28% auto 28%;
  z-index: 1001;
  // padding: 0.3rem;
}

@media (max-width: 1200px) {
  .headerUp {
    display: grid;
    grid-area: headerUp;
    grid-template-areas: 'logo' 'labContentType' 'right';
    justify-items: center;
    grid-template-columns: auto;
    z-index: 1001;
    padding: var(--space-sm);
    
  }
}


.headerDown {
  background-color: var(--primary-color);
  box-shadow: 0 var(--space-xxxs) var(--space-xxxs) var(--shadow-color-header) !important;
  display: grid;
  grid-area: headerDown;
  grid-template-areas: 'label select .';

  
  grid-template-columns: 27% auto 27%;
  z-index: 1000;
}

@media (max-width: 1200px) {
  .headerDown {
    background-color: var(--primary-color);
    box-shadow: 0 var(--space-xxxs) var(--space-xxxs) var(--shadow-color-header) !important;
    display: grid;
    grid-area: headerDown;
    grid-template-areas: 'label' 'select';
    padding: var(--space-xs);
  
    justify-items: center;
    grid-template-columns: auto;
    z-index: 1000;
  }
}

.activeLabContentType {
  border-bottom: 3px solid var(--danger-color) !important;
  color: var(--text-color);
}

.labContentType {
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: var(--space-unit);
  grid-area: labContentType;
  justify-self: center;
  a {
    border-bottom: 3px solid transparent;
    box-sizing: content-box !important;

    color: var(--text-color);
    font-size: var(--text-md);
    font-weight: bold;

    &:hover {
      border-bottom: 3px solid var(--danger-color);
    }
  }
}

.logo {
  align-self: center;
  color: var(--text-color);
  font-size: var(--text-lg);
  font-weight: bold;
  letter-spacing: var(--space-xxxxs);

  margin-left: var(--space-unit);
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: var(--danger-color);
  }
}

.verticalLine {
  border-left: 2px solid var(--dark);
  opacity: 33%;
}
