.paper {
	background-color: #FFF;
	border: 1.52px solid #EEE;
	border-radius: 0.25rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	margin: 0.5rem;
	padding: 0.5rem;
	width: max-content;
}
