@import './variables';

@mixin media-breakpoint-down($breakpoint) {
  @media screen and (max-width: $breakpoint - 1px) {
    @content;
  }
}

@mixin media-breakpoint-up($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin loader-size($size) {
  height: $size;
  min-height: $size;
  min-width: $size;
  width: $size;

  > div {
    height: inherit;
    width: inherit;

    &::after,
    &::before {
      border-width: 2px !important;
      height: inherit;
      left: 0;
      margin: 0;
      width: inherit;
    }
  }
}

@mixin textEllipsis($max-width: 100%) {
  display: block;
  max-width: $max-width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
