$gradient: linear-gradient(90deg, #AF34FE 0%, #33A6F2 100%);

$grey800: #2F2F2F;
$grey700: #464646;
$grey600: #5E5E5E;
$grey500: #757575;
$grey400: #9E9E9E;
$grey300: #BABABA;
$grey200: #D6D6D6;
$grey100: #F5F5F5;

$primary800: #0A2130;
$primary700: #1F6491;
$primary600: #2985C2;
$primary500: #33A6F2;
$primary400: #70C1F6;
$primary300: #99D3F9;
$primary200: #C2E4FB;
$primary100: #EBF6FE;

$secondary800: #230A33;
$secondary700: #691F98;
$secondary600: #8C2ACB;
$secondary500: #AF34FE;
$secondary400: #C771FE;
$secondary300: #D79AFF;
$secondary200: #E7C2FF;
$secondary100: #F7EBFF;

$success800: #04180D;
$success700: #16904D;
$success600: #1DC066;
$success500: #24F080;
$success400: #66F5A6;
$success300: #92F8C0;
$success200: #BDFBD9;
$success100: #E9FEF2;

$alert800: #190704;
$alert700: #631D0F;
$alert600: #AD321A;
$alert500: #F74825;
$alert400: #F96D51;
$alert300: #FBA492;
$alert200: #FDC8BE;
$alert100: #FEEDE9;

$warning800: #191001;
$warning700: #7D5306;
$warning600: #C8840A;
$warning500: #FAA50C;
$warning400: #FCC055;
$warning300: #FDD286;
$warning200: #FEE4B6;
$warning100: #FFF6E7;

$dark500: #14121C;
$dark400: #201C2B;
$dark300: #2C283E;

$white: #FFF;
$black: #000;

$_xs: 320px;
$_sm: 500px;
$_md: 768px;
$_lg: 1000px;
$_hd: 1280px;
$_xl: 1400px;
$_xxl: 1600px;
$_max: 1920px;

$sidebarWidth: 260px;
$gridGap: 16px;
$checkboxSize: 16px;
