.button {

	border: none;
	border-radius: 5px;

	box-sizing: border-box;

	cursor: pointer;
	display: inline-block;

	font-size: 14px;
	padding: 10px;
	text-align: center;
	transition: all 0.2s;
}

.primary {
	background-color: var(--primary);
	color: var(--white);
}

.primary:hover {
	background-color: var(--primary-hover);
}

.ghost {
	background: none;
	border: 1px solid var(--gray-light);
	color: var(--black);
}

.ghost:hover {
	background-color: var(--primary);
	color: var(--white);
}

.arrow {
	display: inline-block;

	margin-left: 10px;
}

.down {
	transform: rotate(90deg);
	transition: all 0.2s;
}

.primary svg,
.ghost:hover svg {
	fill: var(--white);
}
