.wrapper {
  margin: 0 auto;
  max-width: 75%;
}
.content {
  background-color: antiquewhite;
  display: grid;
  justify-content: center;
  padding: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5 {
    justify-self: center;
  }
  
}
