$border-width: 4px;

@import 'styles/colors.scss';
$border-color: $light;
$background-color: $dark;
//.sections {
//  z-index: 1100;
//  background: $background-color;
//
//  a {
//    color: $border-color;
//    border-bottom: $border-width solid transparent;
//    transition: 0.5s;
//
//    &:hover {
//      border-bottom: $border-width solid $border-color;
//      color: $border-color;
//    }
//
//   .active {
//     border-bottom: $border-width solid $border-color;
//     color: red;
//    }
//  }
//
//
//  li.a.active {
//    border-bottom: $border-width solid $border-color;
//    color: red;
//  }
//
//}



/* Add a black background color to the top navigation */
.topnav {

  background-color: $background-color;
  overflow: hidden;
  display: flex;
  padding: 0.35rem;
  //box-shadow: 1rem 2rem #7a7e82;
  a {
    transition: all 0.4s ease-in;
    color: $border-color;
    text-align: center;
    padding: 8px 18px;
    text-decoration: none;
    font-size: 16px;
    border-bottom: $border-width solid transparent;

    &.active {
      border-bottom: $border-width solid $border-color;
    }

    &:hover {
      border-bottom: $border-width solid $border-color;
    }


  }
}


