.paper {
  background-color: #fff;
  padding: 0.5rem;
  margin: 0.5rem;
  width: max-content;
  border-radius: 0.25rem;
  border: 1.52px solid #eee;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
