.button {
  border: none;
  border-radius: var(--border-radius);

  box-sizing: border-box;

  cursor: pointer;
  display: inline-block;

  font-size: 14px;
  padding: 10px;
  text-align: center;
  transition: all 0.2s;
}

.maxWidth {
  display: block;
  width: 100%;
}

.primary {
  background-color: var(--primary);
  color: var(--white);
}

.primary:hover {
  background-color: var(--darken-primary);
}

.outline {
  background-color: var(--white);
  border: var(--border-width) solid var(--primary);
  color: var(--primary);
}

.outline:hover {
  background-color: var(--primary);
  color: var(--white);
}

.ghost {
  color: var(--color-text);
  cursor: not-allowed !important;
}

// .ghost:hover {
//   background-color: var(--primary);
//   color: var(--white);
// }

.arrow {
  display: inline-block;

  margin-left: 10px;
}

.down {
  transform: rotate(90deg);
  transition: all 0.2s;
}

.primary svg,
.ghost:hover svg {
  fill: var(--white);
}
