.button {
  padding: 10px;

  cursor: pointer;
  transition: all 0.2s;
  text-align: center;

  border: none;
  border-radius: var(--border-radius);

  font-size: 14px;
}

.primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.primary:hover {
  background-color: var(--primary-dark-color);
}

.outline {
  color: var(--primary-color);
  border: var(--border-width) solid var(--primary-color);
  background-color: var(--white-color);
}

.outline:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.ghost {
  cursor: not-allowed;

  color: var(--dark-gray-color);
  background-color: var(--substrate-color);
}
