.wrapper {
  background-color: var(--light);
  display: grid;
  grid-area: content;
  grid-template-areas: 'sidebarLeft contentInner sidebarRight';
  grid-template-columns: 17% auto 17%;
  height: 100%;

  overflow: auto;
}

@media (max-width: 900px) {
  .wrapper {
    background-color: var(--light);
    display: grid;
    grid-template-areas:
      'sidebarLeft sidebarRight'
      'contentInner contentInner';
    grid-template-columns: 1fr 1fr;
    height: 100%;
  }
}

.sidebarLeft {
  box-shadow: calc(var(--space-xxxs) * 0.02) 0 calc(var(--space-xxxs) * 2)
    rgba(0, 0, 0, 0.075) !important;
  grid-area: sidebarLeft;
}

.sidebarRight {
  box-shadow: var(--space-xxxxs) 0 calc(var(--space-xxxs) * 2)
    rgba(0, 0, 0, 0.075) !important;
  grid-area: sidebarRight;
}

.content {
  grid-area: contentInner;
  padding: 1rem;
}

.graph {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.workArea {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
}

.flexRow {
  display: flex;
  justify-content: space-between;
}

.tempP {
  color: var(--gray);
  font-size: 0.89rem;
  letter-spacing: 2px;
  margin-bottom: 0.2rem;
}
