@import 'styles/colors.scss';

.wrapper {
  background-color: $light;
  display: grid;
  grid-area: content;
  grid-template-areas: 'sidebar contentInner sidebar2';
  grid-template-columns: 17% auto 17%;
  height: 100%;
}

@media (max-width: 900px) {
  .wrapper {
    background-color: $light;
    display: grid;
    grid-template-areas:
      'sidebar sidebar2'
      'contentInner contentInner';
    grid-template-columns: 1fr 1fr;
    height: 100%;
  }
}

.sidebar {
  background-color: $white;
  grid-area: sidebar;
  overflow-y: scroll;
  padding: 1rem;
  scrollbar-width: thin;
}

.sidebar2 {
  background-color: $white;
  grid-area: sidebar2;

  padding: 1rem;
}

.content {
  grid-area: contentInner;
  // background-color: #444;
  padding: 1rem;
}

.graph {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.workArea {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
}

.button {
  display: block;
  width: 100%;
}

.flexRow {
  display: flex;
  justify-content: space-between;
}

.tempP {
  color: $gray;
  font-size: 0.89rem;
  letter-spacing: 2px;
  margin-bottom: 0.2rem;
}

.buttonDataType {
  // max-width: 25%;
  padding: 0.25rem 0.65rem;
  &:focus {
    box-shadow: none;
    outline: none;
  }
  &:active {
    box-shadow: none;
    outline: none;
  }
}
