$border-width: 4px;

@import 'styles/colors.scss';
$border-color: $light;
// $background-color: $primary;
$background-color: #fff;

////////////////////
.container {
  display: grid;
  grid-template-rows: 10vh 5vh;
  max-height: 15vh;
}

////////////

// .parentUp {
//   padding: 0.75rem;
//   z-index: 1001;
//   display: grid;

//   grid-template-columns: auto 300px auto;
//   align-self: center;
// }

// .parent {
// background-color: $primary;
// box-shadow: 0 0.2rem 0.2rem rgba(19, 85, 226, 0.15) !important;

//   vertical-align: baseline;
//   text-align: center;
//   z-index: 1000;

//   h2 {
//     // because bootstarp, need to remove
//     margin: 0 !important;

//     color: $light;
//     font-size: 20px;
//     line-height: 20px;
//     padding: 0.45rem;
//     text-transform: uppercase;
//     letter-spacing: 3px;
//     font-weight: bold;
//   }
// }

.headerUp {
  grid-area: headerUp;
  display: grid;

  grid-template-columns: 350px auto 350px;

  grid-template-areas: 'logo labContentType right';
}

.headerDown {
  grid-area: headerDown;
  background-color: $primary;
  box-shadow: 0 0.2rem 0.2rem rgba(19, 85, 226, 0.15) !important;
  display: flex;
  justify-content: center;
  z-index: 1000;

  // vertical-align: baseline;

  h2 {
    // because bootstarp, need to remove
    margin: 0 !important;

    align-self: center;
    color: $light;
    font-size: 18px;
    line-height: 18px;
    padding: 0.45rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
  }
}

// .parentUp {
//   min-width: max-content;
//   vertical-align: baseline;
//   padding: 1rem;
//   position: relative;
//   // box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15) !important;
//   z-index: 1001;
// }

.activeLabContentType {
  color: $dark;
  border-bottom: 3px solid tomato !important;
}

.labContentType {
  grid-area: labContentType;
  align-self: center;
  justify-self: center;
  // margin: 0 auto !important;
  // max-width: max-content;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  a {
    box-sizing: content-box !important;

    border-bottom: 3px solid transparent;
    font-weight: bold;

    color: $dark;
    font-size: 18px;

    &:hover {
      border-bottom: 3px solid tomato;
    }
  }
}
// .parent {
//   background-color: $primary;
//   // box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.1) !important;
//   box-shadow: 0 0.2rem 0.2rem rgba(19, 85, 226, 0.15) !important;
//   display: flex;

//   //   flex-direction: row;
//   justify-content: center;

//   position: relative;
//   vertical-align: baseline;
//   z-index: 1000;

//   h2 {
//     // because bootstarp, need to remove
//     margin: 0 !important;

//     color: $light;
//     font-size: 20px;
//     line-height: 20px;
//     padding: 0.45rem;
//     text-transform: uppercase;
//     letter-spacing: 3px;
//     font-weight: bold;
//   }
// }

.verticalLine {
  opacity: 33%;
  border-left: 2px solid $dark;
}

// .navbar {
//   align-self: space-between;
//   //   grid-column: span 12;
//   //   padding: 0.1rem;
//   background-color: $background-color;
//   display: flex;

//   flex-direction: row;
//   //   vertical-align: baseline;
//   place-items: center;
//   & > * {
//     margin: 0 0.81rem;
//   }
//   & > *:nth-child(3) {
//     margin-left: auto;
//   }
// }

.logo {
  //   color: $light;
  align-self: center;

  color: $dark;
  font-size: 16pt;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: $dark;
    opacity: 95%;
  }
}

.dropDownTitle {
  justify-self: end;
  color: $dark !important;
  font: inherit;
  //   opacity: 90%;
  z-index: 1000;
  &:hover {
    opacity: 100%;
  }
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: $light;
  color: $dark;
  display: flex;
  overflow: hidden;
  padding: 0.2rem;
  //box-shadow: 1rem 2rem #7a7e82;
  a {
    border-bottom: $border-width solid transparent;
    color: $border-color;
    font-size: 18px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease-in;

    &.active {
      border-bottom: $border-width solid $border-color;
    }

    &:hover {
      border-bottom: $border-width solid $border-color;
    }
  }
}
