// https://www.easel.ly/
:root {
  --primary-color: rgb(62 106 227);
  --primary-darken-color: rgb(58 95 197);
  --secondary-color: #7a7e82;
  --success-color: rgb(29 203 139);
  --danger-color: rgb(255 99 71);
  --info-color: rgb(147 147 212);
  --warning-color: #f2c231;
  --light-color: #f5f5f5;
  --dark-color: #4a4a4a;
  --gray-color: rgb(182 182 182);
  --gray-lighten-color: rgb(214 214 214);
  --white-color: #fff;
  --text-color: #3b3b3b;
  --text-secondary-color: rgb(121 121 121 / 78%);
  --border-color: #e0e0e0;
  --substrate-color: #f5f5f5;
}
