.selectOption {
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;

  color: var(--text-color);

  font-size: 17px;
  list-style-type: none;
  padding: 6px 20px;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}
