@import 'colors';
@import 'fonts';
@import 'vars';
@import 'sizes';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  color: var(--color-text);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: var(--text-base-size);

  a {
    text-decoration: none;
  }

}
