@import 'styles/colors.scss';

.wrapper {
  grid-area: content;
  background-color: $light;
  height: 100%;
  display: grid;
  grid-template-columns: 185px auto 185px;
  grid-template-areas: 'sidebar contentInner sidebar2';
}

@media (max-width: 900px) {
  .wrapper {
    display: grid;
    background-color: $light;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    grid-template-areas:
      'sidebar sidebar2'
      'contentInner contentInner';
  }
}

.sidebar {
  grid-area: sidebar;
  background-color: $white;
  padding: 1rem;
}

.sidebar2 {
  grid-area: sidebar2;
  background-color: $white;
  padding: 1rem;
}

.content {
  grid-area: contentInner;
  // background-color: #444;
  padding: 1rem;
}

.graph {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.workArea {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
}

.button {
  display: block;
  width: 100%;
}

.flexRow {
  display: flex;
  justify-content: space-between;
}

.tempP {
  color: $gray;
  font-size: 0.89rem;
  letter-spacing: 2px;
  margin-bottom: 0.2rem;
}

.buttonDataType {
  // max-width: 25%;
  padding: 0.25rem 0.65rem;
  &:focus {
    box-shadow: none;
    outline: none;
  }
  &:active {
    box-shadow: none;
    outline: none;
  }
}
