.options {
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
  line-height: 1;
}
.options input {
  width: 200px;
}
.options label {
  width: 60px;
  float: left;
  text-align: right;
  margin-right: 10px;
  color: #555;
}
.ghbtns {
  position: relative;
  top: 4px;
  margin-left: 5px;
}
