.wrapper {
  position: relative;


  /* Chrome, Safari, Edge, Opera */
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  input {
    border-radius: 5px;
    width: 100%;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    // padding: 0;
    margin: 0;
    color: var(--text-color);
    font-family: inherit;
    font-size: var(--text-md);
    
    
    padding: var(--space-xxxs);
    padding-left: 10px;
    
    background: transparent;
    border: var(--border-width) solid var(--gray-color);

    &:hover {
      border: var(--border-width) solid var(--dark-color) !important;
      // outline: none !important;
      transition: 0.5s;
    }
  
    &:focus {
      outline: none !important;
      border: var(--border-width) solid var(--primary-color) !important;
    }
  
    &::placeholder {
      color: transparent;
      cursor: text;
    }
  }
}

.btns {
  float: left;
  position: relative;
  height: 42px;
  
}


.btn {
  
  position: relative;
  cursor: pointer;
  border: none;
  border-left: var(--border-width) solid var(--gray-color);
  width: 20px;
  text-align: center;
  vertical-align: middle;
  color: #333;
  background-color: transparent;
  font-size: 15px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.btnPlus {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: var(--border-width) solid var(--gray-color);
}

.btnMinus {
  position: absolute;
  bottom: 0px;
  height: 50%;
}

