.formField {
  /* reset input */
  &:required,
  &:invalid {
    box-shadow: none;
  }
  background: transparent;
  border: var(--border-width) solid var(--gray-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-family: inherit;
  font-size: var(--text-md);

  outline: 0;

  padding: var(--space-xxxs);
  transition: border-color 0.2s;
  width: 100%;
  z-index: 1;

  &:hover {
    border: var(--border-width) solid var(--primary-color);
    transition: 0.5s;
  }

  &:focus {
    outline: calc(2 * var(--border-width)) solid #000;
  }

  &::placeholder {
    color: transparent;
    cursor: text;
  }
}
