
// https://www.easel.ly/
$primary: #3E6AE3;
$secondary: #7A7E82;
$success: #27B567;
$danger: rgb(238, 106, 126);
$info: rgb(255, 177, 95);
$warning: #F2C231;
$light: #F5F5F5;
$dark: #4A4A4A;
$gray: rgba(175, 173, 173, 0.78);

$primaryFont: #4A4A4A;

