// $primary: #6038bd;
// $secondary: #7a7e82;
// $success: #0daf61;
// $danger: #e04d5c;
// $info: #f29b4a;
// $warning: #f2c231;
// $light: #ececf1;
// $dark: #31353b;
// $primaryFont: #655785;


// https://www.easel.ly/
$primary: #3e6ae3;
$secondary: #7a7e82;
$success: #27b567;
$danger: rgb(238, 106, 126);
$info: rgb(255, 177, 95);
$warning: #f2c231;
$light: #f5f5f5;
$dark: #4a4a4a;
$primaryFont: #4a4a4a;

$gray: rgba(175, 173, 173, 0.78);