$theme-colors: (
        'primary': #2e2179,
        'secondary': #833bec,
        'success': #1ce1ac,
        'info': #ff7d50,
        'warning': #ffbe0b,
        'danger': #ff007f,
        'light': #c0ccda,
        'dark': #001738,
);

@import '/node_modules/bootstrap/scss/bootstrap.scss';